version: '3'

services:

  tracker:
    build: ./tracker
    expose:
      - 80
    ports:
      - "80:80"
    command: bittorrent-tracker -p 80
  
  peer_1:
    build: ./transmission
    image: transmission
    expose:
      - 9091
      - 51413
    command: bash -c "cp networking_03.png ./downloads && transmission-cli test.torrent -w ./downloads"
  
  peer_2:
    image: transmission
    expose:
      - 9091
      - 51413
    command: bash -c "transmission-cli test.torrent -w ./downloads"
  
  # Uncomment below to add custom client

  # peer_3:
  #  build: ./custom_client
  #  expose:
  #    - 6881
  #  command: client ...